.l-wrapper {
    max-width: 1200px;
    margin: auto;
}

.l-grid {
    display: grid;
}

.l-grid-gap{
    grid-gap: 15px;
}

.l-grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
}

.l-grid-2col {
    grid-template-columns: 1fr 1fr;
}

.l-grid-last {
    grid-column-end: -1;
}

.l-grid-span-full {
    grid-column-end: -1;
    grid-column-start: 1;
}

.l-flex-col {
    display: flex;
    flex-direction: column;
}

.l-flex-row {
    display: flex;
    flex-direction: row;
}

.l-flex-right {
    margin-left: auto
}

.l-flex-center {
    margin: auto;
}

.l-flex-vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}


